[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ranjith43
[access "refs/for/refs/*"]
	read = group user/ranjith43
	push = group user/ranjith43
	label-Code-Review = -2..+2 group user/ranjith43
	label-Verified = -1..+1 group user/ranjith43
	rebase = group user/ranjith43
	removeReviewer = group user/ranjith43
	submit = group user/ranjith43
[access "refs/heads/*"]
	read = group user/ranjith43
	create = group user/ranjith43
	push = +force group user/ranjith43
	pushMerge = group user/ranjith43
[access "refs/tags/*"]
	push = group user/ranjith43
	push = +force group user/ranjith43
